:root {
  --primary-color: #101418;
  --secondary-color: #0d1c2a;
  --grey-color: #b0b8c4;
  --border-color: #202428;
  --blue-color: #007fff;
  --blue-text-color: #66b2ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  padding: 0;
}
